<a href="https://colab.research.google.com/github/suzettecomia/ITBA3206-The-Rising-Squad/blob/main/Quality_Education_Enhancement_Lead_to_Economic_Growth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Quality Education Enhancement Lead to Economic Growth**

In [2]:
import numpy as np
import pandas as pd
from google.colab import files
import io
import matplotlib.pyplot as plt

**Datasets of Education**

In [3]:
url1 = 'https://raw.githubusercontent.com/suzettecomia/ITBA3206-The-Rising-Squad/main/Datasets/Datasets_Education.csv'

In [4]:
df1 = pd.read_csv(url1,encoding='latin-1')

In [5]:
df1.head(100)

,Region/Country/Area,Year,Series,Value,Footnotes,Source
0,"Total, all countries or areas",2005,Students enrolled in primary education (thousa...,"679,013",NaN,"United Nations Educational, Scientific and Cul..."
1,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (male),104.5,NaN,"United Nations Educational, Scientific and Cul..."
2,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (female),99.7,NaN,"United Nations Educational, Scientific and Cul..."
3,"Total, all countries or areas",2005,Students enrolled in secondary education (thou...,"509,274",NaN,"United Nations Educational, Scientific and Cul..."
4,"Total, all countries or areas",2005,Gross enrollment ratio - Secondary (male),65.8,NaN,"United Nations Educational, Scientific and Cul..."
...,...,...,...,...,...,...
95,Sub-Saharan Africa,2015,Gross enrollment ratio - Secondary (female),40.5,NaN,"United Nations Educational, Scientific and Cul..."
96,Sub-Saharan Africa,2015,Students enrolled in upper secondary education...,"20,583",NaN,"United Nations Educational, Scientific and Cul..."
97,Sub-Saharan Africa,2015,Gross enrollment ratio - Upper secondary level...,38.3,NaN,"United Nations Educational, Scientific and Cul..."
98,Sub-Saharan Africa,2015,Gross enrollment ratio - Upper secondary level...,31.2,NaN,"United Nations Educational, Scientific and Cul..."
99,Sub-Saharan Africa,2018,Students enrolled in primary education (thousa...,"169,135",Estimate.,"United Nations Educational, Scientific and Cul..."

**Datasets of Employment by Economic Activity**

In [6]:
url2 = 'https://raw.githubusercontent.com/suzettecomia/ITBA3206-The-Rising-Squad/main/Datasets/Datasets_Employment.csv'

In [7]:
df2 = pd.read_csv(url2,encoding='latin-1')

In [8]:
df2.head(100)

,Region/Country/Area,Year,Series,Value,Footnotes,Source
0,"Total, all countries or areas",2005,Employment by industry: Agriculture (%) Male a...,37.0,Estimate.,"International Labour Organization (ILO), Genev..."
1,"Total, all countries or areas",2005,Employment by industry: Industry (%) Male and ...,21.2,Estimate.,"International Labour Organization (ILO), Genev..."
2,"Total, all countries or areas",2005,Employment by industry: Services (%) Male and ...,41.8,Estimate.,"International Labour Organization (ILO), Genev..."
3,"Total, all countries or areas",2005,Employment by industry: Agriculture (%) Male,37.3,Estimate.,"International Labour Organization (ILO), Genev..."
4,"Total, all countries or areas",2005,Employment by industry: Industry (%) Male,24.2,Estimate.,"International Labour Organization (ILO), Genev..."
...,...,...,...,...,...,...
95,Northern Africa,2015,Employment by industry: Services (%) Male,48.4,Estimate.,"International Labour Organization (ILO), Genev..."
96,Northern Africa,2015,Employment by industry: Agriculture (%) Female,39.2,Estimate.,"International Labour Organization (ILO), Genev..."
97,Northern Africa,2015,Employment by industry: Industry (%) Female,11.2,Estimate.,"International Labour Organization (ILO), Genev..."
98,Northern Africa,2015,Employment by industry: Services (%) Female,49.6,Estimate.,"International Labour Organization (ILO), Genev..."
99,Northern Africa,2020,Employment by industry: Agriculture (%) Male a...,24.8,Estimate.,"International Labour Organization (ILO), Genev..."

**Data Cleaning for datasets 1**

> Dropping unnecessary columns

In [9]:
df1.drop(['Footnotes', 'Source'], axis = 1, inplace=True)
df1.head(100)

,Region/Country/Area,Year,Series,Value
0,"Total, all countries or areas",2005,Students enrolled in primary education (thousa...,"679,013"
1,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (male),104.5
2,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (female),99.7
3,"Total, all countries or areas",2005,Students enrolled in secondary education (thou...,"509,274"
4,"Total, all countries or areas",2005,Gross enrollment ratio - Secondary (male),65.8
...,...,...,...,...
95,Sub-Saharan Africa,2015,Gross enrollment ratio - Secondary (female),40.5
96,Sub-Saharan Africa,2015,Students enrolled in upper secondary education...,"20,583"
97,Sub-Saharan Africa,2015,Gross enrollment ratio - Upper secondary level...,38.3
98,Sub-Saharan Africa,2015,Gross enrollment ratio - Upper secondary level...,31.2
99,Sub-Saharan Africa,2018,Students enrolled in primary education (thousa...,"169,135"



> Check nulls in column

In [10]:
df1.isnull().sum()

Region/Country/Area    0
Year                   0
Series                 0
Value                  0
dtype: int64