<a href="https://colab.research.google.com/github/suzettecomia/ITBA3206-The-Rising-Squad/blob/main/Quality_Education_Enhancement_Lead_to_Economic_Growth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Quality Education Enhancement Lead to Economic Growth**

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files
import io
import matplotlib.pyplot as plt

In [ ]:
pathemp= "/content/drive/MyDrive/Colab Notebooks/Datasets/Datasets_Employment.csv"

**Datasets of Education**

In [ ]:
url = 'https://raw.githubusercontent.com/suzettecomia/ITBA3206-The-Rising-Squad/main/Datasets/Datasets_Education.csv'

In [ ]:
df = pd.read_csv(url,encoding='latin-1')

In [ ]:
df.head(100)

,Region/Country/Area,Year,Series,Value,Footnotes,Source
0,"Total, all countries or areas",2005,Students enrolled in primary education (thousa...,"679,013",NaN,"United Nations Educational, Scientific and Cul..."
1,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (male),104.5,NaN,"United Nations Educational, Scientific and Cul..."
2,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (female),99.7,NaN,"United Nations Educational, Scientific and Cul..."
3,"Total, all countries or areas",2005,Students enrolled in secondary education (thou...,"509,274",NaN,"United Nations Educational, Scientific and Cul..."
4,"Total, all countries or areas",2005,Gross enrollment ratio - Secondary (male),65.8,NaN,"United Nations Educational, Scientific and Cul..."
...,...,...,...,...,...,...
95,Sub-Saharan Africa,2015,Gross enrollment ratio - Secondary (female),40.5,NaN,"United Nations Educational, Scientific and Cul..."
96,Sub-Saharan Africa,2015,Students enrolled in upper secondary education...,"20,583",NaN,"United Nations Educational, Scientific and Cul..."
97,Sub-Saharan Africa,2015,Gross enrollment ratio - Upper secondary level...,38.3,NaN,"United Nations Educational, Scientific and Cul..."
98,Sub-Saharan Africa,2015,Gross enrollment ratio - Upper secondary level...,31.2,NaN,"United Nations Educational, Scientific and Cul..."
99,Sub-Saharan Africa,2018,Students enrolled in primary education (thousa...,"169,135",Estimate.,"United Nations Educational, Scientific and Cul..."

**Datasets of Employment by Economic Activity**

In [ ]:
df2=pd.read_csv(pathemp,encoding='latin-1')

FileNotFoundError: ignored

In [ ]:
df2.head(100)