<a href="https://colab.research.google.com/github/suzettecomia/ITBA3206-The-Rising-Squad/blob/main/Quality_Education_Enhancement_Lead_to_Economic_Growth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Quality Education Enhancement Lead to Economic Growth**

In [42]:
import numpy as np
import pandas as pd
from google.colab import files
import io
import matplotlib.pyplot as plt

In [52]:
patheduc = "/content/drive/MyDrive/Colab Notebooks/Datasets/Datasets_Education.csv"

**Datasets of Education**

In [53]:
df1=pd.read_csv(patheduc,encoding='latin-1')

In [54]:
df1.head(100)

,Region/Country/Area,Year,Series,Value
0,"Total, all countries or areas",2005,Students enrolled in primary education (thousa...,"679,013"
1,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (male),104.5
2,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (female),99.7
3,"Total, all countries or areas",2005,Students enrolled in secondary education (thou...,"509,274"
4,"Total, all countries or areas",2005,Gross enrollment ratio - Secondary (male),65.8
...,...,...,...,...
95,Sub-Saharan Africa,2015,Gross enrollment ratio - Secondary (female),40.5
96,Sub-Saharan Africa,2015,Students enrolled in upper secondary education...,"20,583"
97,Sub-Saharan Africa,2015,Gross enrollment ratio - Upper secondary level...,38.3
98,Sub-Saharan Africa,2015,Gross enrollment ratio - Upper secondary level...,31.2
99,Sub-Saharan Africa,2018,Students enrolled in primary education (thousa...,"169,135"

**Datasets of Employment by Economic Activity**

In [59]:
df2=pd.read_csv(pathemp,encoding='latin-1')

In [60]:
df2.head(100)

,Region/Country/Area,Year,Series,Value
0,"Total, all countries or areas",2005,Employment by industry: Agriculture (%) Male a...,37.0
1,"Total, all countries or areas",2005,Employment by industry: Industry (%) Male and ...,21.2
2,"Total, all countries or areas",2005,Employment by industry: Services (%) Male and ...,41.8
3,"Total, all countries or areas",2005,Employment by industry: Agriculture (%) Male,37.3
4,"Total, all countries or areas",2005,Employment by industry: Industry (%) Male,24.2
...,...,...,...,...
95,Northern Africa,2015,Employment by industry: Services (%) Male,48.4
96,Northern Africa,2015,Employment by industry: Agriculture (%) Female,39.2
97,Northern Africa,2015,Employment by industry: Industry (%) Female,11.2
98,Northern Africa,2015,Employment by industry: Services (%) Female,49.6
99,Northern Africa,2020,Employment by industry: Agriculture (%) Male a...,24.8