<a href="https://colab.research.google.com/github/suzettecomia/ITBA3206-The-Rising-Squad/blob/main/Quality_Education_Enhancement_Lead_to_Economic_Growth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Quality Education Enhancement Lead to Economic Growth**

In [42]:
import numpy as np
import pandas as pd
from google.colab import files
import io
import matplotlib.pyplot as plt

In [43]:
path = "/content/drive/MyDrive/Colab Notebooks/Datasets_Education.csv"

In [47]:
df=pd.read_csv(path,encoding='latin-1')

In [49]:
df.head(100)

,T06,"Enrolment in primary, secondary and tertiary education levels",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",2005,Students enrolled in primary education (thousa...,"679,013",NaN,"United Nations Educational, Scientific and Cul..."
2,1,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (male),104.5,NaN,"United Nations Educational, Scientific and Cul..."
3,1,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (female),99.7,NaN,"United Nations Educational, Scientific and Cul..."
4,1,"Total, all countries or areas",2005,Students enrolled in secondary education (thou...,"509,274",NaN,"United Nations Educational, Scientific and Cul..."
...,...,...,...,...,...,...,...
95,202,Sub-Saharan Africa,2015,Gross enrollment ratio - Secondary (male),46.9,NaN,"United Nations Educational, Scientific and Cul..."
96,202,Sub-Saharan Africa,2015,Gross enrollment ratio - Secondary (female),40.5,NaN,"United Nations Educational, Scientific and Cul..."
97,202,Sub-Saharan Africa,2015,Students enrolled in upper secondary education...,"20,583",NaN,"United Nations Educational, Scientific and Cul..."
98,202,Sub-Saharan Africa,2015,Gross enrollment ratio - Upper secondary level...,38.3,NaN,"United Nations Educational, Scientific and Cul..."
99,202,Sub-Saharan Africa,2015,Gross enrollment ratio - Upper secondary level...,31.2,NaN,"United Nations Educational, Scientific and Cul..."