<a href="https://colab.research.google.com/github/suzettecomia/ITBA3206-The-Rising-Squad/blob/main/Quality_Education_Enhancement_Lead_to_Economic_Growth_Employment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Quality Education Enhancement Lead to Economic Growth - Employment**

**Datasets of Employment by Economic Activity**

> Import libraries

In [1]:
import numpy as np
import pandas as pd
from google.colab import files
import io
import matplotlib.pyplot as plt
from google.colab import data_table

In [2]:
url_employment = 'https://raw.githubusercontent.com/suzettecomia/ITBA3206-The-Rising-Squad/main/Datasets/Datasets_Employment_Updated.csv'

In [3]:
dataset_employment = pd.read_csv(url_employment,encoding='latin-1')

In [4]:
dataset_employment.head(400)

,Region/Country/Area,Year,Series,Value,Footnotes,Source
0,South-eastern Asia,2005,Employment by industry: Agriculture (%) Male a...,44.5,Estimate.,"International Labour Organization (ILO), Genev..."
1,South-eastern Asia,2005,Employment by industry: Industry (%) Male and ...,18.9,Estimate.,"International Labour Organization (ILO), Genev..."
2,South-eastern Asia,2005,Employment by industry: Services (%) Male and ...,36.7,Estimate.,"International Labour Organization (ILO), Genev..."
3,South-eastern Asia,2005,Employment by industry: Agriculture (%) Male,45.0,Estimate.,"International Labour Organization (ILO), Genev..."
4,South-eastern Asia,2005,Employment by industry: Industry (%) Male,20.7,Estimate.,"International Labour Organization (ILO), Genev..."
...,...,...,...,...,...,...
395,Timor-Leste,2020,Employment by industry: Services (%) Female,51.9,Estimate.,"International Labour Organization (ILO), Genev..."
396,Viet Nam,2005,Employment by industry: Agriculture (%) Male a...,54.8,Estimate.,"International Labour Organization (ILO), Genev..."
397,Viet Nam,2005,Employment by industry: Industry (%) Male and ...,18.8,Estimate.,"International Labour Organization (ILO), Genev..."
398,Viet Nam,2005,Employment by industry: Services (%) Male and ...,26.4,Estimate.,"International Labour Organization (ILO), Genev..."
399,Viet Nam,2005,Employment by industry: Agriculture (%) Male,52.8,Estimate.,"International Labour Organization (ILO), Genev..."

**Data Cleaning**

> Dropping unnecessary columns